{% extends 'base.html.twig' %}




{% block javascripts %}
    <!-- unminified for development -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/1.0.0-beta.1/ng-google-chart.js" type="text/javascript"></script>

    <!-- minified for production -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/1.0.0-beta.1/ng-google-chart.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        var app = angular.module('app', ['ngResource', 'googlechart']);
        var id = {{ patientId }}
        app.factory('Show', function($resource) {
            return $resource('/api/patient/graphData:id', {id: id});
        });

        app.controller('ShowController', function ($scope, Show,$interval, $filter) {
            $scope.shows = [];

            $scope.bpmPatient = {};
            $scope.temperaturePatient = {};
            $scope.myChartObject = {};
            $scope.loading = false;
            $scope.details = null;


            $scope.update = function () {
                /*$scope.loading = true;
                 $scope.shows = [];
                 $scope.details = null;*/

                Show.query().$promise
                    .then( function (data) {

                        $scope.shows = data;
                        init($scope.bpmPatient, 'BPM', '#0000FF');
                        init( $scope.temperaturePatient, 'Temperature', '#009900');
                    })
                    .finally( function () {
                        $scope.loading = false;
                    });
            }

            $scope.select = function (show) {
                //$scope.details = null;

                Show.get({id: show.id}).$promise.then( function (data) {
                    $scope.details = data;
                });
            }

            function init(myChartObject, dataName, color) {

                var jsonArray = [];

                myChartObject.type = "LineChart";
                myChartObject.displayed = false;
                var length = $scope.shows.length;

                if(dataName === 'BPM'){
                    for (var i = length -1; i >= 0; i--) {
                        jsonArray.push({
                            c: [{
                                v: $filter('date')($scope.shows[i].date,'HH:mm:ss', '+0000')
                            }, {
                                v: $scope.shows[i].bpm,
                                f: $scope.shows[i].bpm.toString()
                            }]
                        });

                    }


                }

                if(dataName === 'Temperature'){
                    for (var i = length -1; i >= 0; i--) {
                        jsonArray.push({
                            c: [{
                                v: $filter('date')($scope.shows[i].date,'HH:mm:ss', '+0000')
                            }, {
                                v: $scope.shows[i].temperature,
                                f: $scope.shows[i].temperature.toString()
                            }]
                        });

                    }
                }

                myChartObject.data = {
                    "cols": [{
                        id: "values",
                        label: "Données du patient",
                        type: "string"
                    }, {
                        id: "bpm",
                        label: dataName,
                        type: "number"
                    }],
                    "rows": jsonArray}



                    myChartObject.options = {
                    "title": "Etat du patient",
                    "colors": [color],
                    "defaultColors": [color],
                    "isStacked": "true",
                    "fill": 20,
                    "displayExactValues": true,
                    "vAxis": {
                        "title": "Valeur",
                        "gridlines": {
                            "count": 10
                        }
                    },
                    "hAxis": {
                        "title": "Date"
                    }
                };

                myChartObject.view = {
                    columns: [0, 1]
                };
            }

            // initialise la première fois
            $scope.update();
            $interval($scope.update, 2000);


        });
    </script>


{% endblock %}

{% block body %}




    <h1>Patient {{ patient.lastName }} {{ patient.firstName }}</h1>
    <div ng-app="app" ng-controller="ShowController">
        <div class="row">
            <div class="col s12 m6">
                <div google-chart chart="bpmPatient" style="height:450px; width:100%;"></div>
            </div>
            <div class="col s12 m6">
                <div google-chart chart="temperaturePatient" style="height:450px; width:100%;"></div>
            </div>
        </div>
        <br /><br />
        <div class="container">
            <a href="{{ path('patientProfile', {'id': patient.id}) }}"><p>Plus de details</p></a>
            <table class="bordered">
                <tr>
                    <td><b>Date d'ajout</b></td>
                    <td><b>Bpm</b></td>
                    <td><b>Temperature</b></td>
                </tr>
                <tr ng-repeat="show in shows | filter: {title: search} | orderBy: '-date'" >
                    <a href="{{ path('patientProfile' , {'id':'{{ show.patient.id }}'}) }}">
                        <td>{{ "{{ show.date | date:'yyyy-MM-dd HH:mm:ss' }}" }}</td>
                        <td >{{ '{{ show.bpm }}' }}</td>
                        <td >{{ '{{ show.temperature }}' }}</td>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}

